<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/results" method="POST">
        <label for="your_name">Your Name:</label>
        <input type="text" name="your_name">
        <label for="dojo_location">Dojo Location:</label>
        <select name="location">
            <option value=""></option>
            <option value="san_jose">San Jose</option>
            <option value="san_francisco">San Francisco</option>
            <option value="seattle">Seattle</option>       
        </select>
            <label for="favorite_language">Favorite Language:</label>
        <select name="favorite_language">
            <option value=""></option>
            <option value="python">Python</option>
            <option value="ruby">Ruby</option>
            <option value="mean">MEAN</option>
        </select>
        <label for="comment">Comment (optional):</label>
        <textarea name="comment"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>